		<!-- JS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="../lib/imakewebthings-waypoints-13ae054/lib/noframework.waypoints.min.js"></script>
		<!--<script src="Templates/assets/js/headroom.min.js"></script>-->
		<!--<script src="Templates/assets/js/jQuery.headroom.min.js"></script>-->
		<!--<script src="Templates/assets/js/template.js"></script>-->
		
		<!-- metis menu (admin) -->
		<!--<script src="Templates/assets/js/jquery.metisMenu.js"></script>-->
		<!-- admin -->
		<!--<script src="../lib/admin_dashboard/admin_dashboard.js"></script>-->
		<!-- morris charts -->
		<!--<script src="../lib/morris/raphael-2.1.0.min.js"></script>-->
		<!--<script src="../lib/morris/morris.js"></script>-->
		<!--<script src="../javascript/wallpage.js"></script>-->
		<script src="../lib/lodash/lodash.js"></script>
		<script src="../lib/gridstack/gridstack.js"></script>
		<script src="../lib/dropzone/dropzone.js"></script>
		<link rel="stylesheet" href="../lib/gridstack/gridstack.css">
		<link rel="stylesheet" href="../lib/dropzone/dropzone.css">
		
		<script src="../javascript/util.js"></script>
		<script src="../javascript/myWishlistsPage.js"></script>
		<!--<script src="../lib/kartik-v-bootstrap-star-rating-8ae690a/js/star-rating.js" type="text/javascript"></script>-->
		<script src="../javascript/topNavBar.js"></script>
		<script src="../javascript/searchPage.js"></script>
		<script src="../javascript/forum.js"></script>
		<script src="../javascript/share.js"></script>
		<script src="../javascript/admin.js"></script>
		<script src="../javascript/chat.js"></script>
		<script type="text/javascript" src="../lib/chat/js/chat.js"></script>
	</body><!-- /BODY -->
</html>