

				<div class="col-sm-2 col-lg-2 col-md-2"><!-- RIGHT COL -->
					<!--content-->
					<div class="panel panel-default" >
						<div class="panel-body">
							<div class="row">
								<!-- user -->
								<div class="col-md-12 col-lg-12">
									
									<!-- user -->
									<div class="row">
										<div class="col-md-4 col-lg-4">
											<img class="img-circle img-responsive" src="http://placehold.it/48x48" href="userpage.php">
										</div>
										<div class="col-md-6 col-lg-6">
											<a href="#" class="username-chat" >username</a>
										</div>
										<div class="col-md-2 col-lg-2">
											<span class="forumRateIcon forumRateIcon-up fa fa-circle" style="margin-top:15px;"></span>
										</div>
									</div><!-- /user -->
									
									<hr class="style-one">
								
									<!-- user -->
									<div class="row">
										<div class="col-md-4 col-lg-4">
											<img class="img-circle img-responsive" src="http://placehold.it/48x48" href="userpage.php">
										</div>
										<div class="col-md-6 col-lg-6">
											<a href="#" class="username-chat" >username</a>
										</div>
										<div class="col-md-2 col-lg-2">
											<span class="forumRateIcon forumRateIcon-up fa fa-circle" style="margin-top:15px;"></span>
										</div>
									</div><!-- /user -->
								
								
									<hr class="style-one">
								
									<!-- user -->
									<div class="row">
										<div class="col-md-4 col-lg-4">
											<img class="img-circle img-responsive" src="http://placehold.it/48x48" href="userpage.php">
										</div>
										<div class="col-md-6 col-lg-6">
											<a href="#" class="username-chat" >username</a>
										</div>
										<div class="col-md-2 col-lg-2">
											<span class="forumRateIcon forumRateIcon-down fa fa-circle" style="margin-top:15px;"></span>
										</div>
									</div><!-- /user -->
								
								
									<hr class="style-one">
								
									<!-- user -->
									<div class="row">
										<div class="col-md-4 col-lg-4">
											<img class="img-circle img-responsive" src="http://placehold.it/48x48" href="userpage.php">
										</div>
										<div class="col-md-6 col-lg-6">
											<a href="#" class="username-chat" >username</a>
										</div>
										<div class="col-md-2 col-lg-2">
											<span class="forumRateIcon forumRateIcon-down fa fa-circle" style="margin-top:15px;"></span>
										</div>
									</div><!-- /user -->
								
								</div>
							</div>
						</div>
					</div><!--/content-->
				</div><!-- /RIGHT COL -->
			</div><!-- /MAIN CONTAINER ROW -->
		</div><!-- /MAIN CONTAINER-->

