.form-control-custom{
background-color: #FFFDFB;
}

.form-control-custom:focus {
  border-color: #9b4a07;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252,245,199,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252,245,199,.6);
}

select+span.form-control-feedback{
	right: 12px;
}


::selection  {
  border-color: #9b4a07 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252,245,199,.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252,245,199,.6) !important;
}