.row {
  margin-bottom: 0;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.row .row {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class*="col-"] {
  height:100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.avatar-area {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scroll-pls {
  overflow-y: scroll; 
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.tcenter {
  text-align: center
}

.forum-row {
  height: 200px;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.avatar-maxsize {
  width: 180px;
  height: 130px;
}